# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt
from sklearn.impute import KNNImputer

# Load the raw data

In [2]:
df = pd.read_csv("../data/raw.csv")
# This project will only deal with the Close price and not the Adjusted Close Price
df = df.drop(["Adj Close"], axis = 1)
# Take dates as datetime
df["Date"] = pd.to_datetime(df["Date"])

# Handle missing values

## Count missing values

In [3]:
df.isna().sum().sum()

np.int64(0)

### No missing values found.

# Split and sort data based on years

In [4]:
df_from_2014 = df[df["Date"] >= datetime(2014, 1, 1)]
df_2014_to_2020 = df_from_2014[df_from_2014["Date"] <= datetime(2020, 12, 31)]

df_from_2021 = df[df["Date"] >= datetime(2021, 1, 1)]
df_2021_to_2022 = df_from_2021[df_from_2021["Date"] <= datetime(2022, 12, 31)]

df_2014_to_2020 = df_2014_to_2020.sort_values("Date").reset_index(drop = True)
df_2021_to_2022 = df_2021_to_2022.sort_values("Date").reset_index(drop = True)

In [5]:
df_2014_to_2020

,Date,Open,High,Low,Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100
...,...,...,...,...,...,...
2293,2020-12-27,26439.373047,28288.839844,25922.769531,26272.294922,66479895605
2294,2020-12-28,26280.822266,27389.111328,26207.640625,27084.808594,49056742893
2295,2020-12-29,27081.810547,27370.720703,25987.298828,27362.437500,45265946774
2296,2020-12-30,27360.089844,28937.740234,27360.089844,28840.953125,51287442704
2297,2020-12-31,28841.574219,29244.876953,28201.992188,29001.720703,46754964848

# Create additional features

## Change

In [6]:
for col in ["Open", "High", "Low", "Close", "Volume"]:
    df_2014_to_2020[f"{col}_Change"] = df_2014_to_2020[col].diff()
    df_2021_to_2022[f"{col}_Change"] = df_2021_to_2022[col].diff()

## Change Ratio

In [7]:
for col in ["Open", "High", "Low", "Close", "Volume"]:
    df_2014_to_2020[f"{col}_Change_Ratio"] = df_2014_to_2020[f"{col}_Change"] / df_2014_to_2020[col]
    df_2021_to_2022[f"{col}_Change_Ratio"] = df_2021_to_2022[f"{col}_Change"] / df_2021_to_2022[col]

# Remove Invalid Rows

In [8]:
df_2014_to_2020 = df_2014_to_2020.dropna()
df_2021_to_2022 = df_2021_to_2022.dropna()

# Save Preprocessed Data

In [9]:
df_2014_to_2020.to_csv("../data/preprocessed_2014_to_2020.csv", index = False)
df_2021_to_2022.to_csv("../data/preprocessed_2021_to_2022.csv", index = False)